body {
    width:680px;
    text-align: center;
    margin: 0;
    position: absolute;
}

article {
    color: white;
    background-color: pink;
    height: 230px;
    padding-bottom: 20px;
    width: 430px;
    position: absolute;
    top: 130px;
}

section {
    color: white;
    background-color: brown;
    height: 95px;
    margin-bottom: 10px;
    margin-top: 10px;
}

aside {
    color: white;
    background-color: cyan;
    height:250px;
    width: 250px;
    position: absolute;
    top: 128px;
    left: 430px;
}

footer {
    background-color: green;
    height: 30px;
    width: 680px;
    color: white;
    position: absolute;
    top: 377px;
}