body {
    float: left;
    width:680px;
    text-align: center;
    margin: 0;
}

header {
    margin-left: auto;
}

article {
    float: left;
    color: white;
    background-color: pink;
    height: 230px;
    padding-bottom: 20px;
    width: 490px;
    top: 170px;
}

section {
    color: white;
    background-color: brown;
    height: 95px;
    margin-bottom: 10px;
    margin-top: 10px;
}

aside {
    float: left;
    color: white;
    background-color: cyan;
    height:250px;
    width: 310px;
    top: 168px;
    left: 490px;
}

#footer {
    float: left;
    background-color: green;
    height: 30px;
    width: 800px;
    color: white;
    top: 417px;
}