@model string

@{
    ViewBag.Title = "Index";
}

<h2>Project Description</h2>

<h4>Requirements: (Total 160 points)</h4>

<p>Task 1: Create the Web Site Home Page (60 points)</p>
<p>Task 2: Form and Layout Demo (40 points)</p>
<p>Task 3: Server Side Demo (30 points)</p>
<p>Task 4: Client Side Demo (40 points)</p>
<p>Task 5: About Myself (20 points)</p>