@{
    ViewBag.Title = "Static" ;
}

<title></title>
<link href="~/Content/Static.css" rel="stylesheet" />
<link href="~/Content/Index.css" rel="stylesheet" />
  
  <article> &lt;My Article&gt;
    <section>&lt;Section One&gt;</section>
    <section>&lt;Section Two&gt;</section>
  </article>
  <aside>&lt;Aside&gt;</aside>
  <footer id="footer">&lt;Footer&gt;</footer>
